<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sinarmas MSIG Life | Video Player</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
   <link rel="stylesheet" href="css/video-js.css" type="text/css"/>
  <link rel="stylesheet" href="css/vc.css" type="text/css"/>

  
  
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/videojs-ie8.min.js"></script>

  <link rel="shortcut icon" href="img/eas.ico" type="image/x-icon" />
</head>

<body>
  <div class="container-fluid">
        <div class="row" id="content" style="margin-top: 0; padding: 10px;">
            <div class="col-md-12 col-xs-12">
                <div class="page-header text-center sinarmas-logo">
                    <img src="img/sinarmas_msig_logo.png" alt="Sinarmas MSIG Life" class="img-responsive" width="100%" max-width="700px">
                </div>
                <div class="row" style="margin-top: 50px">
                    <div class="col-md-12 col-xs-12 embed-responsive embed-responsive-16by9" align="center">
                        <video
                          id="my-video"
                          class="video-js embed-responsive-item"
                          controls
                          preload="auto"
                          width="640"
                          height="264"
                          data-setup="{}"
                          style=""
                        >
                          <!-- <source src="MY_VIDEO.mp4" type="video/mp4" /> -->
                          <source src="" type="video/webm" />
                          <p class="vjs-no-js">
                            To view this video please enable JavaScript, and consider upgrading to a
                            web browser that
                            <a href="https://videojs.com/html5-video-support/" target="_blank"
                              >supports HTML5 video</a
                            >
                          </p>
                        </video>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <script type="text/javascript" src="js/video.js"></script>
  <script type="text/javascript" src="js/ajsplayer.js"></script>

</body>